
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Browse{% endblock %}

{% block body_block %}


</br>
</br>
</br>
</br>
<div class="left">
	<div class="sect">
	<b>TITLE</b></br>
	{{ aData.title }}</br>
	</div>
	</br>
	</br>
	<div class="sect">
	<b>WELCOME COMMENT</b></br>
	{{ aData.welcomeComment }}</br>
	</div>
	</br>
	</br>
	<div class="sect">
	<b>DESCRIPTION</b></br>	
	{{ aData.description }}</br>
	</div>
	</br>
	</br>
	<div class="sect">
	<b>WEB LINK</b></br>
	{{ aData.webLink }}</br>
	</div>

</div>
<div class="right">
	<div class="sect">
	<b>FEATURES</b>
	</br>
	{{ aData.features }}</br>
	</div>
	</br>
	</br>
	<div class="sect">
	<b>CONTACT</b>
	</br>
	{{ aData.contact }}></br>
	</div>
	</br>
	</br>
	<div class="sect">
	<b>COST</b>
	</br>
	{{ aData.cost }}
	</div>
</div>
	

    <meta charset="UTF-8">
    <title>Activity</title>
</head>
<body>
{% endblock %}
