{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}explore{% endblock %}

{% block body_block %}
  <!-- Browse input -->
<div class="container">
  <div class="row">
    <form class="form-inline" id="body-search-form" action="{% url 'browse' %}" method="GET">
      <div class="row search">
        <div class="col">
          <input id="body-search-bar" class="form-control mr-sm-2" name="q" type="search" placeholder="Explore more..." aria-label="Search">
        </div>
        <div class="col-xs">
          <button class="btn btn-outline-warning" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
  <!-- If found, returns result -->
  {% if found %}
  <div class="row">
    <p>Your search for <b>{{ query_string }}</b> returned the following results: </p>
  </div>
  <div class="row">
    <div class="col">
      {% for activity in found_activities %}
      <div class="row-2">
        <a href="/artlink/activity/{{ activity.slug }}">{{ activity.title }}</a><br />
        <p>{{ place.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}


  {% if query_string %}
  {% if not found %}
  <p>No results found for <b>{{ query_string }}</b>.</p>

  <!-- Add an activity related to query -->
  <div class="row">
    <div class="col-3">
      <p> Feel free to <a href="{% url 'add' %}" alt="link to submit activity form">add an activity</a> related to {{ query_string }}!</p>
    </div>
  </div>
  {% endif %}
  {% else %}
  <p>Try to search in the bar above.</p>
  {% endif %}

  {% endblock %}
