{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Index{% endblock %}

{% block body_block %}


<p> Pentagon incoming </p>

<div class="container-fluid">

    <div class="row">
        <div class="col-4">
        </div>

        <div class="col-4">
            <img class="img-fluid" src="{% static 'images/ear.jpg' %}"  class="img-rounded" /> <!-- New line -->
        </div>

        <div class="col-4">
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="{% static 'images/eye.jpg' %}" class="rounded" alt="Background picture"/> <!-- New line -->
        </div>

        <div class="col-4">
        </div>

        <div class="col-4">
            <img class="img-fluid" src="{% static 'images/touch.jpg' %}" alt="Background picture" class="rounded-circle"/> <!-- New line -->
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="{% static 'images/smell.jpg' %}" alt="Background picture" class="rounded-circle"/> <!-- New line -->
        </div>

        <div class="col-4">
        </div>

        <div class="col-4">
            <img class="img-fluid" src="{% static 'images/taste.jpg' %}" alt="Background picture" class="rounded-circle"/> <!-- New line -->
        </div>

    </div>

</div>
{% endblock %}
