{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Index{% endblock %}

{% block body_block %}


<p> Pentagon incoming </p>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
        </div>

        <div class="col-4">
            <img src="{% static "images/artlink.png" %}" alt="Background picture" class="rounded-circle" alt="Cinque
            Terre" /> <!-- New line -->
        </div>

        <div class="col-4">
        </div>
    </div>

    <div class="row">
        <br></div>


    <div class="row">
        <div class="col-4">
            <img src="{% static "images/artlink.png" %}" alt="Background picture" class="rounded-circle" alt="Cinque
            Terre" /> <!-- New line -->

            <div class="col-4">
            </div>

            <div class="col-4">
                <img src="{% static "images/artlink.png" %}" alt="Background picture" class="rounded-circle"
                alt="Cinque
                Terre" /> <!-- New line -->
            </div>

            <div class="row">
                <br></div>


            <div class="row">
                <div class="col-4">
                    <img src="{% static "images/artlink.png" %}" alt="Background picture" class="rounded-circle"
                    alt="Cinque
                    Terre" /> <!-- New line -->
                </div>

                <div class="col-4">
                </div>

                <div class="col-4">
                    <img src="{% static "images/artlink.png" %}" alt="Background picture" class="rounded-circle"
                    alt="Cinque
                    Terre" /> <!-- New line -->
                </div>

            </div>


            {% endblock %}
